In [1]:
import pandas as pd

#### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [92]:
films = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
# films.head()
# ratings.head()
joined = ratings.merge(films, on='movieId', how='left')
joined.head()
# joined.shape

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance

In [103]:
filtr_films = joined[ (joined.rating == int(5)) ]

filtr_films.title.value_counts().head(1)

Shawshank Redemption, The (1994)    39553
Name: title, dtype: int64

#### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [62]:
data = pd.read_csv('power.csv')
# data.head()
# data.info()

In [77]:
filtered_countries = data[ ((data['country'] == 'Latvia') | (data['country'] == 'Estonia') | (data['country'] == 'Lithuania'))\
& ((data['category'] == int(4)) | (data['category'] == int(12)) | (data['category'] == int(21)))\
& ((data['year'] >= int(2005)) & (data['year'] <= int(2010)))\
& ((data['quantity'] > int(0))) ]

filtered_countries.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, True]).head()

       country  year  quantity  category
10620  Estonia  2005       1.0         4
12758  Estonia  2005       1.0         4
15528  Estonia  2005       1.0         4
17678  Estonia  2005       1.0         4
25746  Estonia  2005       1.0         4

In [104]:
# filtered_countries.info()

In [105]:
# суммарное потребление стран Прибалтики:
sum_potr = filtered_countries.quantity.sum()
sum_potr

240580.0

#### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [106]:
page_ = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_, attrs = {'class': 'quote_list'}, encoding='utf-8')

In [108]:
df[:2][0]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,703826,-,703826,"0,00%",00001,06:03:00
1,NaN,EUR/RUB,597350,-,605370,"-1,32%",-08020,00:22:00
2,NaN,USD/RUB,595000,-,600000,"-0,83%",-05000,19.08.2022
3,NaN,JPY/RUB,04348,-,04348,"0,00%",00000,06:03:00
4,NaN,CNY/RUB,87278,-,87281,"0,00%",-00002,06:03:00
5,NaN,CHF/RUB,620660,-,620373,"0,05%",00286,06:03:00
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,10040,-,10090,"-0,50%",-00050,00:23:00
8,NaN,EUR/GBP,08488,-,08456,"0,38%",00032,00:22:00
9,NaN,EUR/JPY,1375160,-,1375200,"0,00%",-00040,06:03:00
10,NaN,EUR/CHF,09628,-,09650,"-0,23%",-00022,00:01:00
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,09961,-,09961,"0,00%",00000,06:03:00
13,NaN,USD/GBP,08454,-,08454,"0,00%",00000,06:03:00
14,NaN,USD/JPY,1368595,-,1358800,"0,72%",09795,00:23:00
15,NaN,USD/CHF,09587,-,09589,"-0,03%",-00003,06:03:00
16,NaN,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,NaN,JPY/EUR (100:1),07300,-,07300,"0,00%",00000,06:03:00
18,NaN,JPY/GBP,00062,-,00062,"0,00%",00000,06:03:00
19,NaN,JPY/USD,00073,-,00073,"0,00%",00000,06:03:00
20,NaN,JPY/CHF (100:1),07000,-,07000,"-0,03%",00000,06:03:00
21,NaN,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,NaN,GBP/USD,11829,-,11940,"-0,93%",-00111,00:13:00
23,NaN,GBP/JPY,1618911,-,1618917,"0,00%",-00006,06:03:00
24,NaN,GBP/EUR,11782,-,11829,"-0,40%",-00047,00:22:00
25,NaN,GBP/CHF,11344,-,11414,"-0,61%",-00070,00:39:00
26,NaN,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,NaN,GBP/CHF,11344,-,11414,"-0,61%",-00070,00:39:00
28,NaN,EUR/CHF,09628,-,09650,"-0,23%",-00022,00:01:00
29,NaN,JPY/CHF (100:1),07000,-,07000,"-0,03%",00000,06:03:00
30,NaN,USD/CHF,09587,-,09589,"-0,03%",-00003,06:03:00
31,NaN,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,NaN,EUR/UAH,368952,-,367295,"0,45%",01657,06:03:00
33,NaN,USD/UAH,367500,-,365850,"0,45%",01650,06:03:00
34,NaN,CHF/UAH,383348,-,381451,"0,50%",01897,06:03:00
35,NaN,GBP/UAH,434716,-,432764,"0,45%",01952,06:03:00